<p>What's for dinner?</p>
<form action="cast" method="post">
  <ul class="unstyled">
    <% @choices.each do |choice| %>
      <li>
        <label class="radio">
          <input type="radio" name="vote" value="<%= choice.id %>" id="vote_<%= choice.id %>" />
          <%= choice.name %>
        </label>
      </li>
    <% end %>
  </ul>
  <button type="submit" class="btn btn-primary">Cast this vote!</button>
</form>
<h3>Messages from other suffragists:</h3>
<% @messages.each do |message| %>
  </br>
  <q><%= message.message %> <b>-<%= message.name %></b></q>
<% end %>
<br/>
<br/>
<a href="message">Add your message!</a>
